.back-icon {
  position: fixed;
  top: 90px;
  right: 50px;
  font-size: 2.5rem;
  color: #B07F11;
  cursor: pointer;
  z-index: 1050; 
  transition: color 0.3s ease;
}

.back-icon:hover,
.back-icon:focus {
  color: #ffffff;
  outline: none;
}