.shipping-select .custom-button {
  background-color: #B07F11;
  color: #ffffff;
  box-shadow: 0 0 10px #B07F11;
  border-color: #ffffff;
}

.shipping-select .custom-button:hover {
  background-color: #000000;
  border-color: #ffffff;
}

.shipping-select .custom-link{
  color: #B07F11;
}

.shipping-select .custom-link:hover{
  color: #ffffff;
}