.col{
  gap: 150px;
  bottom: 30px;
}


.Button-acction {
  width: 200px;
  height: 70px;
  border-radius: 20px 20px 0 0;
  color: #B07F11;          
  background-color: #000000;
  border: none;
  font-size: 2rem;
}

.Button-acction:hover {
  background-color: #000000;
}



