.Header {
  background-color: #000000;
  box-shadow: 0 15px 12px 0 rgba(176, 127, 17, 0.8);
  z-index: 1030;
  height: 60px;
  line-height: 60px;
}

.brand-text {
  color: #B07F11;
  font-size: 2rem;
}

.navbar-custom .Button {
  color: #B07F11;          
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
}

.navbar-custom .Button:hover {
  background-color: transparent;
}